.contacts {

   .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 4rem 0 2rem 0;
      gap: 1.5625rem;

      @media (max-width: 900px) {
         grid-template-columns: 1fr;
      }

      .item {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         transition: 0.4s;
         color: #353535;
         border-left: 1px solid #c5c5c5;
         padding: 0 0 0 1.2rem;

         h3 {
            transition: 0.3s;
         }

         * {
            margin: 0;
         }

         .univ {
            padding: 0.65rem 0;
            color: #5b5b5b;
         }

         .email {
            display: block;
            padding: 0.2rem 0;
         }

         a {
            display: inline-block;
            transition: 0.5s;
            position: relative;
            padding: 7px 0;
         }

         a:after {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #fe6a00;
            content: "";
            transition: width 0.3s ease-out;
         }

         a.active {
            color: #fe6a00;

            &::after {
               width: 100%;
            }
         }

         a:hover:after,
         a:focus:after {
            width: 100%;
         }

         a:hover {
            color: #fe6a00;

            &::before {
               width: 100%;
            }
         }

      }

      .item:hover {
         transform: translateX(0.6rem);
      }
   }
}