.btns {
   height: 80px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: 7px;
}

// td {
//    overflow: hidden;
//    display: -webkit-box;
//    -webkit-line-clamp: 5;
//    -webkit-box-orient: vertical;
//    line-height: 1.3em;
//    height: 6.5em;
// }