.footer {
   .footer_list {
      margin: 100px 0 50px 0;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
      gap: 30px;

      @media (max-width: 620px) {
         grid-template-columns: 2fr 1fr;
         margin: 50px 0 50px 0;
      }

      @media (max-width: 430px) {
         grid-template-columns: 1fr 1fr;

         .latest_posts{
            grid-column: 1 / 3;
            order: 2;
         }
      }

      a{
         color: #535353;
      }

      .box_logo{
         .logo1 {
            width: 100%;
            max-width: 200px;
         }
         .logo2 {
            width: 100%;
            max-width: 300px;
         }
         .logo3 {
            width: 100%;
            max-width: 300px;
         }

         @media (max-width: 430px) {
            grid-column: 1 / 3;
         }
      }

      .col {

         h3 {
            font-size: 0.8rem;
            line-height: 1.4em;
            color: #222;
            text-align: left;
         }

         ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
               font-size: 0.8rem;
               list-style: none;
               color: #535353;
               line-height: 1.6667em;
            }
         }
      }
   }

   .bottom_footer {
      background-color: #c6c6c6;

      .bottom_footer_content {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 20px 0;
         gap: 20px;
         font-size: 0.8rem;

         .left {
            max-width: 500px;
         }

         .social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

            li {
               list-style: none;
               i{
                  font-size: 1.3rem;
               }
            }
         }
      }

   }
}